<!DOCTYPE html>
<html>
<head>
  <title>Dev Match</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
  
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class: 'navbar-brand' do %>
          <i class="glyphicon glyphicon-leaf"></i>
          Dev Match
        <% end %>
      </div>
      <div class="collapse navbar-collapse" id="main-nav-collapse">
        <div class="nav navbar-nav navbar-right">
          <% if current_user %>
            <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-danger navbar-btn' %>
          <% else %>
            <%= link_to "Log in", new_user_session_path, class:'btn btn-primary navbar-btn', method: :get %>
            <!--<%= link_to "Sign up", new_user_registration_path, class:'btn btn-success navbar-btn', method: :get %>-->
          <% end %>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact Us", new_contact_path %></li>
        </ul>
      </div>
      
      
      
      
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    <!-- flash for error messages -->
    <div class="col-md-4 col-md-offset-4">
      <% flash.each do |key, value| %>
        <%= content_tag :div, value, class:"alert alert-#{key}" %>
      <% end %>
    </div>
    
    <%= yield %>
  </div>

</body>
</html>
